@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700;800&display=swap");

@import "tailwindcss";

:root {
  /* --- Light Mode --- */
  --primary: hsl(175, 84%, 32%);
  --secondary: hsl(349, 89%, 60%);
  --accent: hsl(38, 92%, 50%);

  /* Text color */
  --neutral: hsl(215, 33%, 17%);
  --neutral-muted: hsl(215, 16%, 47%);

  /* Background colors */
  --base-100: hsl(210, 25%, 98%);
  --base-200: hsl(214, 27%, 96%);
  --base-300: hsl(215, 25%, 91%);
}

.dark {
  /* --- Dark Mode --- */
  --primary: hsl(172, 65%, 50%);
  --secondary: hsl(351, 95%, 71%);
  --accent: hsl(45, 97%, 56%);

  /* Text color */
  --neutral: hsl(215, 25%, 91%);
  --neutral-muted: hsl(215, 20%, 65%);

  /* Background colors */
  --base-100: hsl(222, 47%, 11%);
  --base-200: hsl(215, 33%, 17%);
  --base-300: hsl(215, 25%, 27%);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Text color */
  --color-neutral: var(--neutral);
  --color-neutral-muted: var(--neutral-muted);

  /* Background colors */
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);

  --font-sans: "Nunito Sans", sans-serif;
  --font-serif: "Lora", serif;
}

@layer base {
  body {
    @apply bg-base-100 text-neutral overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .primary-btn {
    @apply flex items-center gap-2 px-6 py-3 rounded-full bg-primary hover:bg-primary/90 text-base-100 font-bold cursor-pointer hover:-translate-y-1 transition-transform duration-300 max-w-fit;
  }

  .container {
    @apply max-w-7xl mx-auto px-6 py-3;
  }
}
